.form {
    margin: 20px 0;
}

.textarea {
    width: calc(100% - 20px);
    min-height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #c0c0c0;
    color: rgb(0, 0, 0);
}

.textarea::placeholder {
    color: #666;
}

.button {
    padding: 8px 16px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:disabled {
    background-color: #333;
}