.container {
    width: 100%;
    margin: 0 auto;
    height: 74vh;
    position: relative;
    display: flex;
    gap: 20px;
    flex-direction: row;
    min-height: auto;
    margin-bottom: 20px;
    /* 기본적으로 데스크톱에서 수평 정렬 */
}

.mapContainer {
    width: 89%;
    height: 100%;
    position: relative;
    order: 2;
    z-index: 1;
    /* 기본 순서 */
}

.rightContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    order: 1;
    /* 기본 순서 */
}

.infoContainer {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    color: white;
    background-color: #424242;
    font-size: 16px;
}

.daylight {
    color: #fdc600;
}

.nighttime {
    color: #000080;
}

.videoContainer {
    flex: 1;

}

.map {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.nightOverlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    pointer-events: none;
}

.controls {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px;
    border-radius: 4px;
}

.mapToggle {
    padding: 8px 16px;
    background-color: rgb(48, 48, 48);
    border: 2px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
    color: white;
}

.mapToggle:hover {
    background-color: #424242;
}

.infoGrid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    margin-top: 10px;
}

.infoLabel {
    font-weight: bold;
}

.infoValue {
    text-align: right;
}

.daylight {
    font-size: 20px;
}

/* 모바일 환경에서 반응형 처리 */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
        /* 세로 정렬 */
        height: auto;
        /* 높이 자동 조정 */
    }

    .daylight {
        font-size: 15px;
    }

    .mapContainer {
        width: 100%;
        height: 300px;
        /* 지도 높이 설정 */
        order: 1;
        /* 지도를 상단으로 배치 */
        position: relative;
        overflow: hidden;
        /* 지도 영역을 초과하는 요소 숨김 */
    }

    .map {
        width: 100%;
        height: 100%;
        object-fit: contain;
        /* 지도의 가로 길이를 우선 맞춤 */
    }

    .rightContainer {
        width: 100%;
        height: auto;
        gap: 10px;
        /* 간격 조정 */
        order: 2;
        /* 정보를 하단으로 배치 */
        display: grid;
        /* 그리드 레이아웃 적용 */
        grid-template-columns: 1fr 1fr;
        /* 좌우로 나눔 */
        gap: 10px;
    }

    .infoContainer {
        grid-column: 1;
        /* 왼쪽 영역 */
        padding: 10px;
        font-size: 14px;
    }

    .videoContainer {
        grid-column: 2;
        /* 오른쪽 영역 */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .videoContainer iframe {
        width: 100%;
        /* 너비 조정 */
        height: auto;
        aspect-ratio: 16 / 9;
        /* 비율 유지 */
        border-radius: 8px;
    }
}